<div style="margin-left:60px;margin-right:60px">
<%= render :partial => 'layouts/header' %>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>

<%= render :partial => 'layouts/footer' %>
</div>